@media screen and (max-width: 992px) {
     .hide{
        visibility: hidden;
    }
    nav .container ul{
        margin-top: 5%;
    }

    nav .container ul li {
        padding: 2%;
        width: 100%;
    }
    section .container .row .team
    {
        width: 50%;
        margin-bottom: 7%;
    }
    section .container .row .cntr{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    section .query{
        width: 100%;
        flex-direction: column;
     }
 }
 @media screen and (max-width: 768px) {
    section .container .row .team
    {
        width: 100%;
        margin-bottom: 3%;
    }
    
 }